<tr>
	<th>Order ID</th>
	<th>Order Details</th>
	<th>Address</th>
	<th>status</th>
</tr>
{% for order in orders %}
<tr>
     <td>{{ order.id }}</td>
     <td>{{ order.OrderDetails }}</td>
     <td>{{ order.deliveryAddress }}</td>
     <td>{{ order.status }}</td>
     <!-- creates a button with the id of the order id-->
     <td><button class="ui-btn ui-btn-inline" id ="{{order.id}}">cancel order</button></td>
 </tr>
   

 <script>
 	//call the click button on the id that matches the button clicked
    $("#{{order.id}}").click(function(){  

    	// store the id to be used the update the associated row in the DB
    	var idToCancel = "{{order.id}}";

    	$.post("/cancelOrder", {cancelorder:idToCancel})
		.done(function(data) {
			alert("Order Deleted");
			});

			// recall the active delivers controller
			$.post("/showOrders")
			.done(function(data)
			{
				$('#showOrderstable').html(data); //show updated html tabel
	 		}); 

    });


</script>

 {% endfor %}